@import "../fonts/stylesheet.css";

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* End of CSS Reset */

:root {
  --navbar-bg: #00BFFF;
  --horizontal-margin: 120px;
  --vertical-margin: 40px;
  --navbar-hover: hsl(195, 100%, 25%);
  --navbar-focus: hsl(195, 100%, 10%);
  --weather-cards-bg: #F08080;
  --weather-cards-bd: 1px solid #EEE8AA;
}

body {
  height: 100vh;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

body > * {
  padding: 0 var(--horizontal-margin);
}

* {
  font-family: 'interregular', Arial, Helvetica, sans-serif;
  background-color: transparent;
}

input {
  background-color: white;
}

header {
  background-color: var(--navbar-bg);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  box-shadow: 0 4px 4px #00000025;
  overflow: visible;
}

.web-icon-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.search {
  padding: var(--vertical-margin) 0;
}

#web-title {
  font: 48px 'concert_oneregular';
}

.dropdown {
  --dropdown-width: 250px;
  position: relative;
  cursor: pointer;
  align-self: stretch;
  align-content: center;
  width: var(--dropdown-width);
}

.dropdown:hover {
  background-color: var(--navbar-hover);
}

.dropdown-items {
  position: absolute;
  bottom: -90px;
  list-style-type: none;
  padding: 0;
  box-shadow: 0 4px 8px #00000050;
  border-radius: 10px 10px 0 0;
}

.dropdown-items li {
  width: var(--dropdown-width);
  background-color: var(--navbar-hover);
  font: 24px 'concert_oneregular';
  display: flex;
}

.dropdown-items li:not(:last-child) {
  border-bottom: 1px solid #FFFFFF50;
}

.dropdown-items button {
  color: white;
  flex: 1;
  text-align: start;
  padding: 10px;
}

.dropdown-items li:hover,
.dropdown-items li.focused {
  background-color: var(--navbar-focus);
}

.dropdown-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.dropdown-text {
  font: 30px 'concert_oneregular';
}

.navs {
  display: flex;
  align-items: center;
  gap: 60px;
  align-self: stretch;
}

.search form {
  display: flex;
  align-items: center;
  gap: 20px;
}

input#query {
  border: 0;
  outline: 0;
  padding: 8px;
  border-radius: 10px;
}

input:hover {
  box-shadow: 0 0 2px #00000025;
}

input:focus {
  box-shadow: 2px 2px 2px #00000025;
}

button {
  cursor: pointer;
  border: 0;
}

footer {
  background-color: #4682b4;
  color: #E0FFFF;
  display: grid;
  padding-top: var(--vertical-margin);
  padding-bottom: var(--vertical-margin);
  box-shadow: inset 0 0 4px #00000050;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "title credit-1"
    "title credit-2"
    "title credit-3";
  align-items: start;
  gap: 20px;
}

footer a {
  color: #FFFFE0;
}

footer a:hover {
  text-decoration: none;
}

footer .title {
  font: 90px 'concert_oneregular';
  grid-area: title;
  padding-right: 60px;
}

.credit {
  font: 24px 'interregular';
}

.credit:nth-of-type(1) {
  grid-area: credit-1;
}

.credit:nth-of-type(2) {
  grid-area: credit-2;
}

.credit:nth-of-type(3) {
  grid-area: credit-3;
}

main {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.location-status {
  font: 16px 'interregular';
  text-shadow: 2px 2px 2px #00000025;
  align-self: flex-start;
}

#weather-cards {
  display: grid;
  grid-template-columns: repeat(5, 210px);
  grid-template-rows: repeat(auto-fill, minmax(400px, 401px));
  gap: 20px;
  margin-bottom: 50px;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.weather-card {
  background-color: var(--weather-cards-bg);
  border: var(--weather-cards-bd);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 10px;
  height: 400px;
  padding: 20px;
}

.weather-card:hover {
  border: 0;
  box-shadow: 4px 4px 4px #00000025;
}

.weather-name {
  font: bold 20px 'interregular';
  line-height: 1.1;
  color: #000;
  text-shadow: 1px 1px 2px #00000025;
}

.day-name {
  font: bold 20px 'intersemi_bold';
  text-shadow: 1px 1px 2px #00000025;
}

.weather-desc {
  font: 18px 'intersemi_bold';
}

.weather-temp {
  font: 25px 'intersemi_bold';
  color: #2F4F4F;
}

.weather-date {
  font: 16px 'interregular';
}
